config CHIP_CHOICE
    string
    default "esp32p4"

config BOARD_CHOICE
    string
    default "WAVESHARE_ESP32P4_Touch_LCD_4.3"

config BOARD_CONFIG
    bool
    default y
    select PLATFORM_FLASHSIZE_32M
    select ENABLE_EXT_RAM
    select ENABLE_AUDIO
    select ENABLE_BUTTON
    select ENABLE_DISPLAY
    select ENABLE_TP

config UART_NUM0_TX_PIN
    int "UART_NUM0_TX_PIN"
    range 0 54
    default 37

config UART_NUM0_RX_PIN
    int "UART_NUM0_RX_PIN"
    range 0 54
    default 38
