CONFIG_PROJECT_VERSION="1.0.0"
CONFIG_TUYA_PRODUCT_ID="p320pepzvmm1ghse"
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_BOARD=y
CONFIG_TUYA_T5AI_BOARD_LCD_35565=y
CONFIG_TUYA_T5AI_BOARD_CAMERA=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_ENABLE_TP=y
CONFIG_ENABLE_AI_CHAT_CUSTOM_UI=y
CONFIG_ENABLE_COMP_AI_PICTURE=y
CONFIG_ENABLE_COMP_AI_VIDEO=y
CONFIG_SDIO_HOST=y
CONFIG_SDCARD=y
CONFIG_FATFS=y
CONFIG_FATFS_SDCARD=y
CONFIG_ENABLE_IMAGE_ALBUM_STORAGE_SD=y
