CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="vzlritmd2anoiepp"
CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
CONFIG_ENABLE_COMP_AI_PICTURE=y
CONFIG_ENABLE_COMP_AI_PICTURE_HOSTING_DLD=y
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_WAVESHARE_ESP32P4_TOUCH_LCD_4_3=y
CONFIG_ENABLE_AI_CHAT_GUI_WECHAT=y
CONFIG_AI_INPUT_STACK_SIZE=28672
CONFIG_AI_CLIENT_STACK_SIZE=8192
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_LVGL_TP=y
CONFIG_ENABLE_AI_UI_TEXT_STREAMING=y
